---
phase: 00_initiation
artifact: financials_cashflow.csv
methodology_tags:
  - FINANCIAL
rule_targets:
  - structure-validation
  - auto-generation
  - financial-validation
---
# Business: { business_slug }
Period,Revenue,Operating_Expenses,Capital_Expenses,Net_Cash_Flow,Cumulative_Cash_Flow
Month 1,${{ m1_revenue | default("0") }},${{ m1_opex | default("250000") }},${{ m1_capex | default("100000") }},${{ m1_net | default("-350000") }},${{ m1_cumulative | default("-350000") }}
Month 2,${{ m2_revenue | default("0") }},${{ m2_opex | default("275000") }},${{ m2_capex | default("50000") }},${{ m2_net | default("-325000") }},${{ m2_cumulative | default("-675000") }}
Month 3,${{ m3_revenue | default("25000") }},${{ m3_opex | default("300000") }},${{ m3_capex | default("75000") }},${{ m3_net | default("-350000") }},${{ m3_cumulative | default("-1025000") }}
Month 4,${{ m4_revenue | default("50000") }},${{ m4_opex | default("325000") }},${{ m4_capex | default("50000") }},${{ m4_net | default("-325000") }},${{ m4_cumulative | default("-1350000") }}
Month 5,${{ m5_revenue | default("75000") }},${{ m5_opex | default("350000") }},${{ m5_capex | default("25000") }},${{ m5_net | default("-300000") }},${{ m5_cumulative | default("-1650000") }}
Month 6,${{ m6_revenue | default("125000") }},${{ m6_opex | default("375000") }},${{ m6_capex | default("100000") }},${{ m6_net | default("-350000") }},${{ m6_cumulative | default("-2000000") }}
Month 7,${{ m7_revenue | default("175000") }},${{ m7_opex | default("400000") }},${{ m7_capex | default("50000") }},${{ m7_net | default("-275000") }},${{ m7_cumulative | default("-2275000") }}
Month 8,${{ m8_revenue | default("225000") }},${{ m8_opex | default("425000") }},${{ m8_capex | default("75000") }},${{ m8_net | default("-275000") }},${{ m8_cumulative | default("-2550000") }}
Month 9,${{ m9_revenue | default("300000") }},${{ m9_opex | default("450000") }},${{ m9_capex | default("50000") }},${{ m9_net | default("-200000") }},${{ m9_cumulative | default("-2750000") }}
Month 10,${{ m10_revenue | default("375000") }},${{ m10_opex | default("475000") }},${{ m10_capex | default("25000") }},${{ m10_net | default("-125000") }},${{ m10_cumulative | default("-2875000") }}
Month 11,${{ m11_revenue | default("450000") }},${{ m11_opex | default("500000") }},${{ m11_capex | default("50000") }},${{ m11_net | default("-100000") }},${{ m11_cumulative | default("-2975000") }}
Month 12,${{ m12_revenue | default("525000") }},${{ m12_opex | default("525000") }},${{ m12_capex | default("75000") }},${{ m12_net | default("-75000") }},${{ m12_cumulative | default("-3050000") }}
Month 13,${{ m13_revenue | default("625000") }},${{ m13_opex | default("550000") }},${{ m13_capex | default("50000") }},${{ m13_net | default("25000") }},${{ m13_cumulative | default("-3025000") }}
Month 14,${{ m14_revenue | default("725000") }},${{ m14_opex | default("575000") }},${{ m14_capex | default("25000") }},${{ m14_net | default("125000") }},${{ m14_cumulative | default("-2900000") }}
Month 15,${{ m15_revenue | default("825000") }},${{ m15_opex | default("600000") }},${{ m15_capex | default("100000") }},${{ m15_net | default("125000") }},${{ m15_cumulative | default("-2775000") }}
Month 16,${{ m16_revenue | default("925000") }},${{ m16_opex | default("625000") }},${{ m16_capex | default("50000") }},${{ m16_net | default("250000") }},${{ m16_cumulative | default("-2525000") }}
Month 17,${{ m17_revenue | default("1025000") }},${{ m17_opex | default("650000") }},${{ m17_capex | default("75000") }},${{ m17_net | default("300000") }},${{ m17_cumulative | default("-2225000") }}
Month 18,${{ m18_revenue | default("1125000") }},${{ m18_opex | default("675000") }},${{ m18_capex | default("50000") }},${{ m18_net | default("400000") }},${{ m18_cumulative | default("-1825000") }}
Month 19,${{ m19_revenue | default("1250000") }},${{ m19_opex | default("700000") }},${{ m19_capex | default("25000") }},${{ m19_net | default("525000") }},${{ m19_cumulative | default("-1300000") }}
Month 20,${{ m20_revenue | default("1375000") }},${{ m20_opex | default("725000") }},${{ m20_capex | default("100000") }},${{ m20_net | default("550000") }},${{ m20_cumulative | default("-750000") }}
Month 21,${{ m21_revenue | default("1500000") }},${{ m21_opex | default("750000") }},${{ m21_capex | default("50000") }},${{ m21_net | default("700000") }},${{ m21_cumulative | default("-50000") }}
Month 22,${{ m22_revenue | default("1625000") }},${{ m22_opex | default("775000") }},${{ m22_capex | default("75000") }},${{ m22_net | default("775000") }},${{ m22_cumulative | default("725000") }}
Month 23,${{ m23_revenue | default("1750000") }},${{ m23_opex | default("800000") }},${{ m23_capex | default("50000") }},${{ m23_net | default("900000") }},${{ m23_cumulative | default("1625000") }}
Month 24,${{ m24_revenue | default("1875000") }},${{ m24_opex | default("825000") }},${{ m24_capex | default("25000") }},${{ m24_net | default("1025000") }},${{ m24_cumulative | default("2650000") }}
Month 25,${{ m25_revenue | default("2000000") }},${{ m25_opex | default("850000") }},${{ m25_capex | default("100000") }},${{ m25_net | default("1050000") }},${{ m25_cumulative | default("3700000") }}
Month 26,${{ m26_revenue | default("2125000") }},${{ m26_opex | default("875000") }},${{ m26_capex | default("50000") }},${{ m26_net | default("1200000") }},${{ m26_cumulative | default("4900000") }}
Month 27,${{ m27_revenue | default("2250000") }},${{ m27_opex | default("900000") }},${{ m27_capex | default("75000") }},${{ m27_net | default("1275000") }},${{ m27_cumulative | default("6175000") }}
Month 28,${{ m28_revenue | default("2375000") }},${{ m28_opex | default("925000") }},${{ m28_capex | default("50000") }},${{ m28_net | default("1400000") }},${{ m28_cumulative | default("7575000") }}
Month 29,${{ m29_revenue | default("2500000") }},${{ m29_opex | default("950000") }},${{ m29_capex | default("25000") }},${{ m29_net | default("1525000") }},${{ m29_cumulative | default("9100000") }}
Month 30,${{ m30_revenue | default("2625000") }},${{ m30_opex | default("975000") }},${{ m30_capex | default("100000") }},${{ m30_net | default("1550000") }},${{ m30_cumulative | default("10650000") }}
Month 31,${{ m31_revenue | default("2750000") }},${{ m31_opex | default("1000000") }},${{ m31_capex | default("50000") }},${{ m31_net | default("1700000") }},${{ m31_cumulative | default("12350000") }}
Month 32,${{ m32_revenue | default("2875000") }},${{ m32_opex | default("1025000") }},${{ m32_capex | default("75000") }},${{ m32_net | default("1775000") }},${{ m32_cumulative | default("14125000") }}
Month 33,${{ m33_revenue | default("3000000") }},${{ m33_opex | default("1050000") }},${{ m33_capex | default("50000") }},${{ m33_net | default("1900000") }},${{ m33_cumulative | default("16025000") }}
Month 34,${{ m34_revenue | default("3125000") }},${{ m34_opex | default("1075000") }},${{ m34_capex | default("25000") }},${{ m34_net | default("2025000") }},${{ m34_cumulative | default("18050000") }}
Month 35,${{ m35_revenue | default("3250000") }},${{ m35_opex | default("1100000") }},${{ m35_capex | default("100000") }},${{ m35_net | default("2050000") }},${{ m35_cumulative | default("20100000") }}
Month 36,${{ m36_revenue | default("3375000") }},${{ m36_opex | default("1125000") }},${{ m36_capex | default("50000") }},${{ m36_net | default("2200000") }},${{ m36_cumulative | default("22300000") }}
